RewriteEngine On  
RewriteRule ^post/([a-zA-Z0-9-/]+)$ single.php?post=$1
RewriteRule ^post/([a-zA-Z-0-9-]+)/ single.php?post=$1

RewriteRule ^category/([a-zA-Z0-9-/]+)$ category.php?category=$1
RewriteRule ^category/([a-zA-Z-0-9-]+)/ category.php?category=$1